gith1 {
    color: yellow;
    background-color: darkslategray;
    text-align: center;
    font-size: 60px;
    text-decoration-color: aqua;
}

.abc {
    color: red;
    margin: 1cm;

}

#img1 {
    display: block;
    margin: auto;

}

#clima {
    color: green;
}

.parrafo {
    text-align: center;
    text-align: justify;
}